In [1]:
import pandas as pd


def fetch_settings(fp: str):
    """Fetch settings from excel file"""
    sheet_names = ["data", "layout", "calc"]
    setting_df_dict = pd.read_excel(fp, sheet_name=sheet_names)
    data_df = setting_df_dict["data"]
    layout_df = setting_df_dict["layout"]
    calc_df = setting_df_dict["calc"]

    graph_df = pd.read_excel(fp, sheet_name="graph")

    return data_df, layout_df, graph_df, calc_df

In [7]:
setting_file_path = r"C:\Users\tomon\Documents\Python\settings.xlsx"
data_df, layout_df, graph_df, calc_df = fetch_settings(fp=setting_file_path)

In [8]:
data_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,graphシートで個別に設定もできます。\nGraphシート側の設定が優先されます。
0,ID,tab,ユニット,開始日時,終了日時,インターバル,取得先,color
1,1,タブ1,HIMEJI＃02,2023-11-08 14:49:00,2024-11-08 14:49:00,1s,db,red
2,2,タブ2,HIMEJI＃03,2023-11-08 14:49:00,2024-11-08 14:49:00,1s,db,red
3,3,タブ2,HIMEJI＃04,2023-11-08 14:49:00,2024-11-08 14:49:00,1s,db,red

In [9]:
layout_df

  必須入力 Unnamed: 1 Unnamed: 2
0  Tab        横方向        縦方向
1  タブ１          2          2
2  タブ２          3        NaN

In [10]:
graph_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,tab,graph,x,NaN,NaN,NaN,y1,NaN,NaN,NaN,...,y2,NaN,NaN,NaN,NaN,y3,NaN,NaN,NaN,NaN
1,NaN,NaN,項目,単位,範囲,ラベル,項目,単位,範囲,色,...,項目,単位,範囲,色,ラベル,項目,単位,範囲,色,ラベル
2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
calc_df

  Unnamed: 0 Unnamed: 1
0       name        arg
1   GT_SPEED          x
2    GT_LOAD          y
3        NaN        NaN
4        NaN        NaN
5       #add      x + y